<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ida:Tenant" value="chegnenadoyahoo.onmicrosoft.com" />
    <add key="ida:ClientId" value="9bac0751-4ae1-441c-8e04-61552e6907fa" />
    <add key="ida:AppKey" value="PutTheClientSecretHere" />
    <add key="todo:TodoListResourceId" value="https://chegnenadoyahoo.onmicrosoft.com/TodoListService.NETFramework"/>
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="todo:TodoListBaseAddress" value="https://localhost:44351/" />
  </appSettings>
</configuration>